.smallCol article li{
          font-family: 'Open Sans','Helvetica', 'Crimson Text', 'Garamond',  'Palatino', sans-serif;
          text-align: left;
          font-size:18px;
          line-height: 1.2em;
          color: #444;
    
}